Weather data scrape from https://www.usclimatedata.com/

In [1]:
# Import BeautifulSoup
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
!which chromedriver

/usr/local/bin/chromedriver

In [3]:
# Import Splinter and set the chromedriver path

executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [4]:
# Visit the following URL
url = "https://www.usclimatedata.com/climate/austin/texas/united-states/ustx2742/2008/1"
browser.visit(url)

In [5]:
html = browser.html
weather_soup = BeautifulSoup(html, 'html.parser')

In [6]:
#find and click "history button"
janurary_2008 = weather_soup.find('table', class_='daily_climate_table')
janurary_2008

<table class="daily_climate_table"><thead><tr><th class="align_left daily_climate_table_td_day" style="text-align:left">Day</th><th class="climate_table_data_td">High<br/><br/>(째F)</th><th class="climate_table_data_td">Low<br/><br/>(째F)</th><th class="climate_table_data_td">Precip.<br/><br/>(inch)</th><th class="climate_table_data_td">Snow<br/><br/>(inch)</th><th class="climate_table_data_td">Snow<br/>depth<br/>(inch)</th></tr></thead><tbody></tbody><tbody><tr><td class="align_left daily_climate_table_td_day">1 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">55.0</td><td class="align_right climate_table_data_td temperature_blue">37.9</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr><tr><td class="align_left daily_climate_table_td_day">2 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">50.0</td><td class="align_right climate_table_data_td temperature_blue">30.0</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr><tr><td class="align_left daily_climate_table_td_day">3 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">53.1</td><td class="align_right climate_table_data_td temperature_blue">28.9</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr><tr><td class="align_left daily_climate_table_td_day">4 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">66.0</td><td class="align_right climate_table_data_td temperature_blue">34.0</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr><tr><td class="align_left daily_climate_table_td_day">5 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">79.0</td><td class="align_right climate_table_data_td temperature_blue">57.9</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr><tr><td class="align_left daily_climate_table_td_day">6 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">75.0</td><td class="align_right climate_table_data_td temperature_blue">57.9</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr><tr><td class="align_left daily_climate_table_td_day">7 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">80.1</td><td class="align_right climate_table_data_td temperature_blue">66.0</td><td class="align_right climate_table_data_td">0.01</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr><tr><td class="align_left daily_climate_table_td_day">8 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">72.0</td><td class="align_right climate_table_data_td temperature_blue">46.9</td><td class="align_right climate_table_data_td">T</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr><tr><td class="align_left daily_climate_table_td_day">9 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">68.0</td><td class="align_right climate_table_data_td temperature_blue">37.9</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr><tr><td class="align_left daily_climate_table_td_day">10 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">69.1</td><td class="align_right climate_table_data_td temperature_blue">42.1</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr><tr><td class="align_left daily_climate_table_td_day">11 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">69.1</td><td class="align_right climate_table_data_td temperature_blue">37.0</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr><tr><td class="align_left daily_climate_table_td_day">12 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">71.1</td><td class="align_right climate_table_data_td temperature_blue">43.0</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr><tr><td class="align_left daily_climate_table_td_day">13 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">64.0</td><td class="align_right climate_table_data_td temperature_blue">37.9</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr><tr><td class="align_left daily_climate_table_td_day">14 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">63.0</td><td class="align_right climate_table_data_td temperature_blue">34.0</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr><tr><td class="align_left daily_climate_table_td_day">15 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">53.1</td><td class="align_right climate_table_data_td temperature_blue">46.0</td><td class="align_right climate_table_data_td">0.05</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr><tr><td class="align_left daily_climate_table_td_day">16 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">57.0</td><td class="align_right climate_table_data_td temperature_blue">46.0</td><td class="align_right climate_table_data_td">T</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr><tr><td class="align_left daily_climate_table_td_day">17 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">46.9</td><td class="align_right climate_table_data_td temperature_blue">32.0</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr><tr><td class="align_left daily_climate_table_td_day">18 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">39.9</td><td class="align_right climate_table_data_td temperature_blue">33.1</td><td class="align_right climate_table_data_td">0.27</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr><tr><td class="align_left daily_climate_table_td_day">19 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">50.0</td><td class="align_right climate_table_data_td temperature_blue">30.0</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr><tr><td class="align_left daily_climate_table_td_day">20 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">55.9</td><td class="align_right climate_table_data_td temperature_blue">25.0</td><td class="align_right climate_table_data_td">T</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr><tr><td class="align_left daily_climate_table_td_day">21 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">55.0</td><td class="align_right climate_table_data_td temperature_blue">44.1</td><td class="align_right climate_table_data_td">0.40</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr><tr><td class="align_left daily_climate_table_td_day">22 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">59.0</td><td class="align_right climate_table_data_td temperature_blue">34.0</td><td class="align_right climate_table_data_td">T</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr><tr><td class="align_left daily_climate_table_td_day">23 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">41.0</td><td class="align_right climate_table_data_td temperature_blue">34.0</td><td class="align_right climate_table_data_td">0.01</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr><tr><td class="align_left daily_climate_table_td_day">24 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">44.1</td><td class="align_right climate_table_data_td temperature_blue">37.0</td><td class="align_right climate_table_data_td">T</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr><tr><td class="align_left daily_climate_table_td_day">25 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">42.1</td><td class="align_right climate_table_data_td temperature_blue">39.0</td><td class="align_right climate_table_data_td">0.04</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr><tr><td class="align_left daily_climate_table_td_day">26 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">73.0</td><td class="align_right climate_table_data_td temperature_blue">37.0</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr><tr><td class="align_left daily_climate_table_td_day">27 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">70.0</td><td class="align_right climate_table_data_td temperature_blue">39.9</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr><tr><td class="align_left daily_climate_table_td_day">28 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">72.0</td><td class="align_right climate_table_data_td temperature_blue">51.1</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr><tr><td class="align_left daily_climate_table_td_day">29 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">73.0</td><td class="align_right climate_table_data_td temperature_blue">43.0</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr><tr><td class="align_left daily_climate_table_td_day">30 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">61.0</td><td class="align_right climate_table_data_td temperature_blue">32.0</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr><tr><td class="align_left daily_climate_table_td_day">31 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">61.0</td><td class="align_right climate_table_data_td temperature_blue">39.9</td><td class="align_right climate_table_data_td">0.04</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr></tbody></table>

In [12]:
x = janurary_2008.find_all('tr')
x

[<tr><th class="align_left daily_climate_table_td_day" style="text-align:left">Day</th><th class="climate_table_data_td">High<br/><br/>(째F)</th><th class="climate_table_data_td">Low<br/><br/>(째F)</th><th class="climate_table_data_td">Precip.<br/><br/>(inch)</th><th class="climate_table_data_td">Snow<br/><br/>(inch)</th><th class="climate_table_data_td">Snow<br/>depth<br/>(inch)</th></tr>,
 <tr><td class="align_left daily_climate_table_td_day">1 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">55.0</td><td class="align_right climate_table_data_td temperature_blue">37.9</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr>,
 <tr><td class="align_left daily_climate_table_td_day">2 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">50.0</td><td class="align_right climate_table_data_td temperature_blue">30.0</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr>,
 <tr><td class="align_left daily_climate_table_td_day">3 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">53.1</td><td class="align_right climate_table_data_td temperature_blue">28.9</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr>,
 <tr><td class="align_left daily_climate_table_td_day">4 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">66.0</td><td class="align_right climate_table_data_td temperature_blue">34.0</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr>,
 <tr><td class="align_left daily_climate_table_td_day">5 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">79.0</td><td class="align_right climate_table_data_td temperature_blue">57.9</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr>,
 <tr><td class="align_left daily_climate_table_td_day">6 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">75.0</td><td class="align_right climate_table_data_td temperature_blue">57.9</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr>,
 <tr><td class="align_left daily_climate_table_td_day">7 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">80.1</td><td class="align_right climate_table_data_td temperature_blue">66.0</td><td class="align_right climate_table_data_td">0.01</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr>,
 <tr><td class="align_left daily_climate_table_td_day">8 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">72.0</td><td class="align_right climate_table_data_td temperature_blue">46.9</td><td class="align_right climate_table_data_td">T</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr>,
 <tr><td class="align_left daily_climate_table_td_day">9 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">68.0</td><td class="align_right climate_table_data_td temperature_blue">37.9</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr>,
 <tr><td class="align_left daily_climate_table_td_day">10 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">69.1</td><td class="align_right climate_table_data_td temperature_blue">42.1</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr>,
 <tr><td class="align_left daily_climate_table_td_day">11 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">69.1</td><td class="align_right climate_table_data_td temperature_blue">37.0</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr>,
 <tr><td class="align_left daily_climate_table_td_day">12 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">71.1</td><td class="align_right climate_table_data_td temperature_blue">43.0</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr>,
 <tr><td class="align_left daily_climate_table_td_day">13 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">64.0</td><td class="align_right climate_table_data_td temperature_blue">37.9</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr>,
 <tr><td class="align_left daily_climate_table_td_day">14 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">63.0</td><td class="align_right climate_table_data_td temperature_blue">34.0</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr>,
 <tr><td class="align_left daily_climate_table_td_day">15 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">53.1</td><td class="align_right climate_table_data_td temperature_blue">46.0</td><td class="align_right climate_table_data_td">0.05</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr>,
 <tr><td class="align_left daily_climate_table_td_day">16 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">57.0</td><td class="align_right climate_table_data_td temperature_blue">46.0</td><td class="align_right climate_table_data_td">T</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr>,
 <tr><td class="align_left daily_climate_table_td_day">17 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">46.9</td><td class="align_right climate_table_data_td temperature_blue">32.0</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr>,
 <tr><td class="align_left daily_climate_table_td_day">18 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">39.9</td><td class="align_right climate_table_data_td temperature_blue">33.1</td><td class="align_right climate_table_data_td">0.27</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr>,
 <tr><td class="align_left daily_climate_table_td_day">19 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">50.0</td><td class="align_right climate_table_data_td temperature_blue">30.0</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr>,
 <tr><td class="align_left daily_climate_table_td_day">20 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">55.9</td><td class="align_right climate_table_data_td temperature_blue">25.0</td><td class="align_right climate_table_data_td">T</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr>,
 <tr><td class="align_left daily_climate_table_td_day">21 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">55.0</td><td class="align_right climate_table_data_td temperature_blue">44.1</td><td class="align_right climate_table_data_td">0.40</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr>,
 <tr><td class="align_left daily_climate_table_td_day">22 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">59.0</td><td class="align_right climate_table_data_td temperature_blue">34.0</td><td class="align_right climate_table_data_td">T</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr>,
 <tr><td class="align_left daily_climate_table_td_day">23 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">41.0</td><td class="align_right climate_table_data_td temperature_blue">34.0</td><td class="align_right climate_table_data_td">0.01</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr>,
 <tr><td class="align_left daily_climate_table_td_day">24 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">44.1</td><td class="align_right climate_table_data_td temperature_blue">37.0</td><td class="align_right climate_table_data_td">T</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr>,
 <tr><td class="align_left daily_climate_table_td_day">25 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">42.1</td><td class="align_right climate_table_data_td temperature_blue">39.0</td><td class="align_right climate_table_data_td">0.04</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr>,
 <tr><td class="align_left daily_climate_table_td_day">26 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">73.0</td><td class="align_right climate_table_data_td temperature_blue">37.0</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr>,
 <tr><td class="align_left daily_climate_table_td_day">27 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">70.0</td><td class="align_right climate_table_data_td temperature_blue">39.9</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr>,
 <tr><td class="align_left daily_climate_table_td_day">28 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">72.0</td><td class="align_right climate_table_data_td temperature_blue">51.1</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr>,
 <tr><td class="align_left daily_climate_table_td_day">29 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">73.0</td><td class="align_right climate_table_data_td temperature_blue">43.0</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr>,
 <tr><td class="align_left daily_climate_table_td_day">30 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">61.0</td><td class="align_right climate_table_data_td temperature_blue">32.0</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr>,
 <tr><td class="align_left daily_climate_table_td_day">31 jan 2008</td><td class="align_right climate_table_data_td temperature_red ">61.0</td><td class="align_right climate_table_data_td temperature_blue">39.9</td><td class="align_right climate_table_data_td">0.04</td><td class="align_right climate_table_data_td">0.00</td><td class="align_right climate_table_data_td">0.00</td></tr>]

In [13]:
for x in janurary_2008:
    table_body = janurary_2008.find_all('tr')
    for x in table_body:
        date = table_body.find('td', class_ = "align_left daily_climate_table_td_day")
        high_temp = table_body.find('td', class_ = 'align_right climate_table_data_td temperature_red')
        low_temp = table_body.find('td', class_ = 'align_right climate_table_data_td temperature_blue')
        percip = table_body.find('td', class_ = 'align_right climate_table_data_td')
        snow = table_body.find('td', class_ = 'align_right climate_table_data_td')
        snow_depth = table_body.find('td', class_ = 'align_right climate_table_data_td')
        
        for x in data:
            date = x.text

AttributeError: ResultSet object has no attribute 'find'. You're probably treating a list of items like a single item. Did you call find_all() when you meant to call find()?

In [ ]:

# empty df created to store data. Lat and long pulled from api not original list of cities.
weather_df = pd.DataFrame(columns=["Day", "High_temp", "Low_temp",
                                   "Percip", "Snow", "Snow_dept"])

for table in janurary_2008:
    table_body = janurary_2008.find('tbody')
    try:
        rows = table_body.find_all('tr')
        for tr in rows:
            #cols = tr.find_all('td')
            day = tr.find('td', class_ = "align_left daily_climate_table_td_day")
            High_temp = tr.find('td', class_ = 'align_right climate_table_data_td temperature_red')
            Low_temp = tr.find('td', class_ = 'align_right climate_table_data_td temperature_blue')
            Percip = tr.find('td', class_ = 'align_right climate_table_data_td')
            Snow = tr.find('td', class_ = 'align_right climate_table_data_td')
            Snow_depth = tr.findfind('td', class_ = 'align_right climate_table_data_td')
            
            weather_df = weather_df.append({"Name": name, "Latitude": lat, "Longitude": lon, "Max Temp": temp,
                                        "Humidity": humidity, "Cloudiness": clouds, "Wind Speed": wind, "Date": date}, ignore_
            for td in cols:
                index=True
    except:
        print("no tbody")
                                           
                                           
                                            date = table_body
        high_temp = table_body.find
        low_temp = table_body.
        percip = table_body.
        snow = table_body.
        snow_depth = table_body.

In [14]:
dates = janurary_2008.find('td', class_= 'align_left daily_climate_table_td_day')
dates

In [15]:
dates.get_text()

'1 jan 2008'

In [ ]:
#<td class="align_left daily_climate_table_td_day">1 jan 2008</td>
dates = janurary_2008.find_all('td', class_= 'align_left daily_climate_table_td_day')
dates

for x in dates:
#date = janurary_2008.find_by_id('stWelcomeInbox').first
#print element.text

In [ ]:
<td class="align_right climate_table_data_td temperature_red ">55.0</td>

In [ ]:
<td class="align_right climate_table_data_td temperature_blue">37.9</td>

In [ ]:
<td class="align_right climate_table_data_td">0.00</td>

In [ ]:
<td class="align_right climate_table_data_td">0.00</td>

In [ ]:
<td class="align_right climate_table_data_td">0.00</td></tr><tr>