In [1]:
import pandas as pd
import numpy as np
import os

#https://data.austintexas.gov/Utilities-and-City-Services/Energy-Efficiency-Program-Participation/h47z-b72v/data
#    Energy Efficiency Program Participation
#    Between 1982 and 2006, Austin Energy's energy efficiency programs offset the need to build a 700 megawatt (MW) 
 #   power plant. This became known as Austin Energy's first conservation power plant. In 2007, Austin Energy kicked 
 #   off a new goal with the Austin Climate Protection Plan, which is to offset another 800 MW of peak energy demand 
 #   by 2020. Between 2007 and 2012, Austin Energy has offset an additional 318 MW which is 40% of the 800 MW goal.
    
# https://data.austintexas.gov/Utilities-and-City-Services/Austin-Energy-Customer-Data-by-Customer-Class/9xdm-yhmb
#(Austin_Energy_Customer_Data_by_Customer_Class.csv)

In [15]:
# read in CSV from austin open data
residential_avg_monthly = pd.read_csv('Residential_Average_Monthly_kWh_and_Bills.csv')
residential_avg_monthly
residential_avg_monthly['Date'] = pd.to_datetime(residential_avg_monthly['Date'], format='%m/%d/%y %H:%M')
residential_avg_monthly

          Date  Average kWh  Fuel Charge (Cents/kWh) Average Bill
0   2000-01-01          820                    1.372      $54.26
1   2000-02-01          766                    1.372      $50.27
2   2000-03-01          707                    1.372      $45.91
3   2000-04-01          715                    1.372      $46.50
4   2000-05-01          838                    1.372      $61.68
5   2000-06-01         1221                    1.372      $96.88
6   2000-07-01         1442                    1.372     $117.20
7   2000-08-01         1493                    1.635     $125.81
8   2000-09-01         1368                    1.635     $113.99
9   2000-10-01         1029                    1.635      $81.94
10  2000-11-01          804                    2.211      $59.83
11  2000-12-01          864                    2.211      $64.77
12  2001-01-01         1019                    2.211      $77.52
13  2001-02-01          855                    2.682      $68.05
14  2001-03-01          714                    2.682      $55.78
15  2001-04-01          727                    2.682      $56.91
16  2001-05-01          794                    2.682      $68.04
17  2001-06-01         1138                    2.682     $104.16
18  2001-07-01         1320                    2.682     $123.28
19  2001-08-01         1539                    2.682     $146.28
20  2001-09-01         1334                    2.682     $124.75
21  2001-10-01          885                    2.682      $77.59
22  2001-11-01          691                    2.682      $53.78
23  2001-12-01          762                    2.682      $59.96
24  2002-01-01          888                    1.774      $62.86
25  2002-02-01          799                    1.774      $55.92
26  2002-03-01          732                    1.774      $50.70
27  2002-04-01          689                    1.774      $47.35
28  2002-05-01          941                    1.774      $74.93
29  2002-06-01         1091                    1.774      $89.32
..         ...          ...                      ...          ...
165 2013-10-01          940                    3.372      $87.39
166 2013-11-01          666                    3.709      $62.72
167 2013-12-01          828                    3.709      $80.15
168 2014-01-01          954                    3.709      $93.72
169 2014-02-01          837                    3.709      $81.13
170 2014-03-01          693                    3.709      $65.61
171 2014-04-01          625                    3.709      $58.30
172 2014-05-01          726                    3.709      $69.18
173 2014-06-01          970                    3.709     $114.23
174 2014-07-01         1182                    3.709     $144.15
175 2014-08-01         1265                    3.709     $156.00
176 2014-09-01         1313                    3.709     $162.84
177 2014-10-01          883                    3.709      $86.08
178 2014-11-01          736                    3.945      $72.76
179 2014-12-01          674                    3.945      $65.41
180 2015-01-01          924                    3.945      $93.01
181 2015-02-01          703                    3.945      $68.60
182 2015-03-01          773                    3.945      $76.34
183 2015-04-01          643                    3.945      $62.00
184 2015-05-01          715                    3.945      $69.93
185 2015-06-01          916                    3.945     $109.61
186 2015-07-01         1164                    3.945     $144.74
187 2015-08-01         1356                    3.945     $172.65
188 2015-09-01         1247                    3.945     $156.81
189 2015-10-01          987                    3.945      $99.97
190 2015-11-01          673                    3.139      $63.07
191 2015-12-01          657                    3.139      $61.34
192 2016-01-01          788                    3.139      $75.38
193 2016-02-01          663                    3.139      $61.99
194 2016-03-01          602                    3.139      $55.46

[195 rows x 4 columns]

In [9]:
customer_data_by_class = pd.read_csv('Austin_Energy_Customer_Data_by_Customer_Class.csv')
customer_data_by_class

,Customer Class,Fiscal Year,Number of Customers,Revenue,Percentage of Revenue,Cents per kWh,Percentage of MWh
0,Residential,2006,338184,"$387,540,000",41%,9.499,36%
1,Residential,2007,345197,"$356,143,000",39%,9.112,35%
2,Residential,2008,352574,"$416,809,000",39%,9.863,35%
3,Residential,2009,363217,"$406,393,000",39%,9.633,35%
4,Residential,2010,368700,"$407,074,000",39%,9.604,35%
5,Residential,2011,372329,"$457,262,000",40%,10.024,36%
6,Residential,2012,376614,"$422,195,183",39%,9.637,34%
7,Residential,2013,383257,"$458,657,021",39%,11.019,34%
8,Residential,2014,391410,"$487,165,010",38.91%,11.334,30.76%
9,Commercial,2006,40934,"$367,017,000",39%,8.561,38%
10,Commercial,2007,41825,"$365,991,000",40%,8.412,38%
11,Commercial,2008,42585,"$408,808,000",39%,9.024,37%
12,Commercial,2009,43049,"$402,032,000",39%,8.972,37%
13,Commercial,2010,43489,"$409,952,000",40%,9.002,38%
14,Commercial,2011,43815,"$433,887,000",39%,9.280,37%
15,Commercial,2012,44006,"$409,330,445",38%,8.834,36%
16,Commercial,2013,45761,"$474,658,580",40%,10.220,38%
17,Commercial,2014,45436,"$495,490,442",39.57%,11.013,29.89%
18,Industrial,2006,75,"$108,491,000",11%,6.097,16%
19,Industrial,2007,75,"$113,248,000",12%,5.867,17%
20,Industrial,2008,78,"$138,901,000",13%,6.218,18%
21,Industrial,2009,81,"$132,792,000",13%,5.986,18%
22,Industrial,2010,80,"$122,714,000",12%,6.019,17%
23,Industrial,2011,81,"$145,553,000",13%,6.213,18%
24,Industrial,2012,82,"$158,727,132",15%,5.993,21%
25,Industrial,2013,138,"$184,517,145",16%,6.746,22%
26,Industrial,2014,151,"$199,894,116",15.97%,7.026,19.07%
27,Other,2006,1505,"$88,462,000",9%,7.689,10%
28,Other,2007,1523,"$84,464,000",9%,7.438,10%
29,Other,2008,1553,"$94,472,000",9%,7.901,10%
30,Other,2009,1579,"$91,181,000",9%,7.693,10%
31,Other,2010,1601,"$90,390,000",9%,7.894,10%
32,Other,2011,1640,"$85,447,000",8%,7.474,9%
33,Other,2012,1668,"$91,356,677",8%,8.677,9%
34,Other,2013,1426,"$66,032,001",5%,9.057,6%
35,Other,2014,2406,"$69,526,606",5.55%,7.473,20.28%
36,Residential,2016,411366,"$452,459,492",37.82%,10.662,NaN
37,Commercial,2016,47352,"$484,289,381",40.48%,9.895,NaN
38,Industrial,2016,110,"$181,090,562",15.13%,6.450,NaN
39,Other,2016,2515,"$78,667,210",6.57%,8.474,NaN
40,Residential,2015,401556,"$465,989,943",38.78%,10.804,NaN
41,Commercial,2015,46286,"$466,775,738",38.85%,10.035,NaN
42,Industrial,2015,132,"$185,142,828",15.41%,6.623,NaN
43,Other,2015,2505,"$83,622,619",6.96%,0.875,NaN

In [11]:
energy_efficienty_program_participation = pd.read_csv('Energy_Efficiency_Program_Participation.csv')
energy_efficienty_program_participation

,Program,Customer Class,2007,2008,2009,2010,2011,2012,2013,2014,2015,Total
0,Appliance Efficiency Program,Residential,2415.0,3745.0,4000.0,4444.0,5367.0,3819.0,3366.0,5409.0,2888.0,35453
1,Home Performance ES - Rebate,Residential,1712.0,2223.0,2463.0,2941.0,2919.0,2202.0,1819.0,1634.0,946.0,18859
2,Home Performance ES - Loan,Residential,248.0,213.0,191.0,109.0,71.0,34.0,385.0,457.0,58.0,1766
3,Free Weatherization,Residential,632.0,505.0,538.0,456.0,1044.0,958.0,155.0,312.0,520.0,5120
4,Clothes Washer Rebate,Residential,882.0,813.0,878.0,1029.0,647.0,414.0,249.0,33.0,NaN,4945
5,Refrigerator Recycling,Residential,3381.0,3515.0,3132.0,3428.0,2943.0,2553.0,2666.0,2524.0,2422.0,26564
6,Commercial Rebate,Commercial,325.0,351.0,401.0,315.0,350.0,372.0,453.0,542.0,438.0,3547
7,Small Business,Commercial,349.0,264.0,202.0,384.0,336.0,233.0,267.0,539.0,772.0,3346
8,Municipal,Commercial,1.0,129.0,12.0,9.0,99.0,68.0,106.0,NaN,NaN,424
9,Commercial Smart Vendor,Commercial,572.0,420.0,155.0,120.0,143.0,NaN,NaN,NaN,NaN,1410
10,Multifamily,Commercial,10505.0,21814.0,17162.0,18234.0,10989.0,18213.0,7917.0,7403.0,8737.0,120974
11,Energy Efficiency and Green Building Projects,Commercial,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,18.0,19
12,Power Partner,Demand Response (DR),10355.0,9934.0,7839.0,4617.0,1511.0,891.0,4278.0,3306.0,2892.0,45623
13,Cycle Saver,Demand Response (DR),2279.0,1237.0,1683.0,2009.0,947.0,587.0,1541.0,2462.0,2409.0,15154
14,Power Partner (Comm & Muni),Demand Response (DR),2057.0,1331.0,771.0,780.0,167.0,142.0,89.0,NaN,NaN,5337
15,Load Coop,Demand Response (DR),23.0,29.0,27.0,20.0,55.0,78.0,139.0,38.0,36.0,445
16,Engineering Support & TES,Demand Response (DR),3.0,3.0,4.0,1.0,1.0,3.0,3.0,4.0,NaN,22
17,Emergency Response Service,Demand Response (DR),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1
18,"Green Building - Commercial Energy Code (1,000...",Commercial,2167.0,3629.0,1844.0,852.0,928.0,1458.0,2836.0,4699.0,7393.0,25806
19,"Green Building - Commercial Ratings (1,000 sq....",Commercial,632.0,3088.0,2309.0,2650.0,1642.0,2091.0,2035.0,3779.0,2939.0,21165
20,Green Building - Multifamily Energy Code,Commercial,6056.0,4805.0,2260.0,266.0,1800.0,5631.0,8580.0,7803.0,7498.0,44699
21,Green Building - Multifamily Ratings,Commercial,962.0,1912.0,1721.0,971.0,370.0,709.0,1548.0,2067.0,2554.0,12814
22,Green Building - Residential Energy Code,Residential,5270.0,2941.0,1738.0,1909.0,1857.0,2394.0,2783.0,2754.0,2890.0,24536
23,Green Building - Residential Ratings,Residential,981.0,1021.0,712.0,722.0,585.0,352.0,616.0,729.0,701.0,6419

In [12]:
energy_efficienty_program_expenditures = pd.read_csv('Energy_Efficiency_Program_Expenditures.csv')
energy_efficienty_program_expenditures

,Electric Rebates and Incentives,FY 2006,FY 2007,FY 2008,FY 2009,FY 2010,FY 2011,FY 2012,FY 2013,FY 2014,FY 2015,FY 2016
0,Free Weatherization,"$797,134","$175,304","$757,545","$752,132","$513,909.00","$6,291","$598,003","$999,677","$509,566","$496,998","$2,171,920.00"
1,Multi-family Rebates,"$291,108","$629,560","$1,461,516","$1,143,984","$2,098,407.00","$1,784,498","$2,734,740","$2,524,498","$2,507,220","$2,612,788","$1,434,627.00"
2,Loan Options,"$299,224","$277,523","$233,380","$228,712","$86,029.00","$34,867","$24,137","$6,024","$351,576","$25,724",$357.00
3,Home Performance w/ Energy Star,$0,$0,$0,$0,$0.00,$0,"$2,140,221","$3,163,541","$2,754,305","$1,755,138","$1,375,252.00"
4,Rebate Options,"$2,640,260","$2,293,274","$3,201,580","$4,056,167","$5,469,084.00","$5,300,279","$41,595","($8,450)",$0,$0,$0.00
5,Clothes Washer Rebates,"$27,250","$44,100","$50,495","$50,000","$56,600.00","$30,700","$20,750","$15,750","$1,100",$0,$0.00
6,Duct Diagnostic/Sealing Rebates,"$197,543","$166,103","$80,654","$56,918","$37,490.00","$10,205","$3,770",$0,$0,$0,$0.00
7,Nexus-Home Audit CD,"$47,500","$53,125","$56,123","$60,994","$59,051.00","$57,085","$56,550","$80,113","$34,637",$0,$0.00
8,Compact Flourescent Distribution,"$70,895","$202,709","$101,265","$427,230",$0.00,$0,$0,$0,"$6,000","$260,095",$0.00
9,Municipal/ Loan Star Debt Service,$0,$0,$0,$0,$790.00,"$11,247","$58,957",$0,$0,$0,$0.00
10,Commercial-Existing Construction,"$2,053,351","$3,579,211","$3,193,100","$2,706,843","$2,845,133.00","$2,844,440","$3,001,704","$2,388,150","$2,469,569","$3,401,173","$3,092,412.00"
11,Small Businesses,"$711,118","$498,100","$666,400","$248,639","$963,957.00","$556,614","$379,963","$760,581","$2,989,386","$4,075,625","$1,922,367.00"
12,Green Building,"$6,000",$0,$0,$0,$0.00,$0,$0,$0,$0,$0,"$16,998.00"
13,Commercial Power Partner,"$417,393","$945,451","$221,300","$300,880","$205,923.00","$128,463","$97,381","$260,270","$70,122","$67,101","$69,726.00"
14,Commercial Miser Program,"$90,000",$0,$0,"$139,897","$1,496.00",$0,$0,$0,$0,$0,NaN
15,Commercial Finance Program,$0,$0,$0,$0,$0.00,$0,$0,$0,$0,$0,NaN
16,Solar Rebates,"$2,796,354","$2,561,892","$4,198,494","$6,710,009","$3,910,771.00","$4,574,033","$5,849,240","$8,489,880","$7,437,836","$8,015,376","$6,382,348.00"
17,Refrigerator Recycle program,"$473,986","$391,680","$515,186","$517,615","$508,294.00","$470,912","$346,040","$377,417","$346,693","$288,686","$389,412.00"
18,Multi-Family Duct Sealing,"$1,019,024","$598,573","$125,800","$509,055","$72,978.00","$8,492",$0,$0,$0,$0,NaN
19,Residential Power Partner,"$991,613","$1,586,377","$1,095,913","$670,259","$807,111.00","$665,876","$400,035","$1,070,005","$1,124,518","$1,053,568","$1,448,075.00"
20,Load Coop,$597,"$34,459","$4,567","$7,508","$9,289.00","$455,035","$135,250","$281,574","$187,233","$248,003","$411,282.00"
21,Thermal Energy Storage,"$14,000","$31,250",$0,$0,$0.00,$0,$0,$0,$0,$0,NaN
22,Plug-In Vehicle Charging Station Rebates*,"$692,542","$762,622",$0,$0,$0.00,"$47,832","$179,376","$119,500","$181,542","$435,224","$235,284.00"
23,Cycle Saver,$0,$0,$0,$0,$0.00,$0,$0,$0,$0,$0,NaN
24,Appliance Efficiency Program,$0,$0,$0,$0,$0.00,$0,"$1,647,015",$0,"$31,240","$824,445","$1,386,970.00"
25,Air Conditioning Rebates,$0,$0,$0,$0,$0.00,$0,"$20,500","$1,521,960","$1,614,201","$666,435","$3,900.00"